* {
	padding:0;
	margin:0;
	font-family: sans-serif;
}
body {
	background-color: #f8f8f8;
}
* {
	color: inherit;
	text-decoration:none;
}
#bg-login {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.box-login {
	width: 300px;
	min-height: 200px;
	border:1px solid #ccc;
	background-color: #fff;
	padding: 15px;
	box-sizing: border-box;
}
.box-login h2 {
	text-align: center;
	margin-bottom: 15px;
}
.input-control {
	width:100%;
	padding:10px;
	margin-bottom:15px;
	box-sizing: border-box;
}
.btn {
	padding: 8px 15px;
	background-color: #C70039;
	color: #fff;
	border:none;
	cursor:pointer;
}
header {
	background-color: #C70039;
	color: #fff;
}
header h1 {
	float: left;
	padding: 10px 0;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding: 20px 0 20px 15px;
	display: inline-block;
}
.container {
	width: 80%;
	margin:0 auto;
}
.container:after {
	content: '';
	display: block;
	clear: both;
}
.section {
	padding: 25px 0;
}
.box {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 15px;
	box-sizing: border-box;
	margin: 10px 0.25px 0;
}
.table {
	width: 100%;
	border-collapse: collapse;
}
.table tr {
	height: 30px;
}
.table tr td {
	padding: 5px 10px;
}